html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

@font-face {
    font-family: MuseoSansRounded-300-webfont;
    src: url(fonts/museosansrounded_300/MuseoSansRounded-300-webfont.ttf);
}
@font-face {
    font-family: MuseoSansRounded-100-webfont;
    src: url(fonts/museosansrounded_100/MuseoSansRounded-100-webfont.ttf);
}
@font-face {
    font-family: MuseoSansRounded-700-webfont;
    src: url(fonts/museosansrounded_700/MuseoSansRounded-700-webfont.ttf);
}
@font-face {
    font-family: MuseoSansRounded-500-webfont;
    src: url(fonts/museosansrounded_500/MuseoSansRounded-500-webfont.ttf);
}

body {
    font-family: MuseoSansRounded-300-webfont;
}

.main {
    background-color: black;
}

.main2 {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: inline-block;
}

.balance {
    color: gray;
    font-size: 18px;
    position: absolute;
    border-right: 1px solid gray;
    padding: 12px 40px;
    margin: 20px;
    display: inline-block;
}

.list {
    float: right;
    padding: 15px 0px 15px 15px;
}

ul.hr {
    margin: 0;
    padding: 4px 0px;
}

ul.hr li {
    font-size: 16px;
    color: gray;
    display: inline;
    margin-right: 25px;
    padding: 3px;
}

.log {
    font-size: 16px;
    color: #999999;
    padding: 10px 20px;
    margin-left: 20px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid #999999;
}

.header {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #cccccc;
}

.chart, .time, .cart, .bttn_verification_div {
    display: inline-block;
    font-family: MuseoSansRounded-700-webfont;
    margin: 15px 7px;
    font-size: 20px;
    color: #858585;
}

.chart {
    border-right: 1px solid #cccccc;
    padding: 10px 35px 10px 30px;
    background-image: url(images/cart.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.time {
    padding: 10px 35px 10px 30px;
    background: url(images/time.png) no-repeat left center;    
}

.cart{
    padding: 10px 15px 10px 30px;
    background-image: url(images/cart.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.bttn_verification {
    padding: 10px;
    font-size: 20px;
    font-family: MuseoSansRounded-700-webfont;
    background-color: #e88903;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.verify {
    font-family: MuseoSansRounded-700-webfont;
    text-align: left;
    font-size: 16px;
    background-color: #ceeef2;
    margin: 20px auto;
    padding: 20px;    
    border-radius: 5px;
    color: #757e7f;
}

.header, .main2, .verify, .heart {
    width: 1000px;
}

.heart {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.berry, .mango, .champagne, .blackbarry {
    width: 490px;
    height: 380px;
    border-radius: 5px;
    background-color: #f3f3f3;
    display: inline-block;
    margin: 10px 0px;
    position: relative;
}

.mango, .blackbarry {
    float: right;
    margin-left: 10px;
}

.berry, .champagne {
    float: left;
    margin-right: 10px;
}

.order_berry, .order_mango, .order_champagne, .order_blackbarry {
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-radius: 0px 0px 5px 5px;
}

.bttn {
    color: white;
    font-size: 18px;
    width: 100%;
    background-color: #4cccdb;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #4cccdb;
    padding: 10px;
}

.buy {
    width: 100%;
}

.sumt, .minus, .amount, .plus {
    float: left;
    background-color: #f3f3f3;
    font-size: 22px;
}

.sum {
    color: #4cccdb;
    padding: 10px;
    font-size: 22px;
    float: left;
    background-color: #f3f3f3;
    padding: 20px 30px;
}

.minus {
    padding: 10px;
    float: left;
    background-color: #f3f3f3;
    padding: 9px 30px 10px 30px;;
}

.amount {
    padding: 20px 20px;
}

.plus {
    padding: 9px 126px 10px 30px;
}

.text {
    font-size: 14px;
    padding: 0px 30px;
    color: #cccccc;
    font-family: MuseoSansRounded-500-webfont;
    line-height: 10px;
}

.travka {
    width: 100%;
    position: absolute;
    top: 0px;
    border-radius: 5px;
}

.sativa, .THC, .indica {
    font-size: 16px;
    display: inline-block;
    padding: 5px 15px;
    margin: 10px 0px 10px 30px;
    background: none;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}

.sativa {
    color: #ffde03;
    border: 3px solid #ffde03;
    cursor: pointer;
}

.indica {
    color: #82abff;
    border: 3px solid #82abff;
    cursor: pointer;
}

.THC {
    color: #ffffff;
    border: 3px solid #ffffff;
    margin: 10px 0px 10px 5px;
}

.topic {
    color: white;
    padding: 5px 15px;
    margin: 5px 5px 5px 15px;
}

.bttn, .THC, .sativa {
    cursor: pointer;
}

.bottom_div {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
}

.button_mango {
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 5px 5px 25px 30px;
    cursor: pointer;
}

.button_mango_sum {
    background-color: #ffffff;
    color: #666666;
}

.button_mango_cart {
    background-color: #4cccdb;
    color: white;
}

.button_div {
    background-color: black;
    border-radius: 5px;
}