html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

@font-face {
    font-family: MuseoSansRounded-300-webfont;
    src: url(fonts/museosansrounded_300/MuseoSansRounded-300-webfont.ttf);
}
@font-face {
    font-family: MuseoSansRounded-100-webfont;
    src: url(fonts/museosansrounded_100/MuseoSansRounded-100-webfont.ttf);
}
@font-face {
    font-family: MuseoSansRounded-700-webfont;
    src: url(fonts/museosansrounded_700/MuseoSansRounded-700-webfont.ttf);
}
@font-face {
    font-family: MuseoSansRounded-500-webfont;
    src: url(fonts/museosansrounded_500/MuseoSansRounded-500-webfont.ttf);
}
@font-face {
    font-family: MuseoSansRounded-1000-webfont;
    src: url(fonts/museosansrounded_1000/MuseoSansRounded-1000-webfont.ttf);
}

body {
    font-family: MuseoSansRounded-300-webfont;
    background-color: #f3f3f3;
}

.c_visibl {
    background-image: url(images/back.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 20px 0;
}

header {
    background-color: black;
}

.logo {
    float: left;
    padding: 20px 0;
}
ul.hr {
    float: right;
    margin: 0;
    padding: 0;
}
ul.hr a {
    color: gray;
}
ul.hr li {
    padding: 10px;
    margin: 0 10px;
    display: inline-block;
    font-size: 16px;
    list-style-type: none;
    color: #999999;
}
ul.hr li.hr_border {
    border-right: 2px solid gray;
    padding-right: 30px;
}
ul.hr li:last-of-type {
    margin-right: 0;
    padding-right: 0;
}
.log {
    background-color: black;
    border-radius: 5px;
    border: 1px solid #999999;
    padding: 10px 20px;
}
section {
    border-bottom: 1px solid #cccccc;
    padding: 10px 0
}
.time {
    font-family: MuseoSansRounded-500-webfont;
    margin: 15px 0;
    font-size: 20px;
    color: #828282;
    float: left;
    padding-left: 35px;
    background: url(images/time.png) no-repeat left center; 
}

.return {
    float: right;
    font-family: MuseoSansRounded-500-webfont;
    margin: 15px 0;
    font-size: 20px;
    color: #999999;
    padding-left: 35px;
    background: url(images/return.png) no-repeat left center;
}
.addr input {
    padding: 15px;
    font-size: 20px;
    font-family: MuseoSansRounded-100-webfont;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100%;
}
.v_pay-text {
    background-image: url(images/tick.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
    font-size: 20px;
    font-family: MuseoSansRounded-500-webfont;
    padding: 15px;
    color: #828282;
    background-color: white;
    }
.pay-text {
    font-size: 20px;
    font-family: MuseoSansRounded-500-webfont;
    padding: 15px;
    color: #828282;
}

@media (max-width: 891px) {
    h1 {
        font-size: 18px;
        margin: 0;
        padding: 10px 15px;
        font-weight: bold;
    }
    .pay-text {
        background-color: white;
    }
    .container {
        padding: 0;
    }
    .row {
        margin-right: 0;
    }
    .col-md-6, .col-md-9, .col-md-3, .col-md-12 {
        padding-right: 0;
    }
}

.v_order {
    background-color: white;
    padding: 5px 15px;
}
.v_order-berry {
    font-size: 18px;
    font-family: MuseoSansRounded-300-webfont;
    color: #666666;
    float: left;
    left: 0;
}
.v_item {
    font-size: 18px;
    font-family: MuseoSansRounded-300-webfont;
    float: right;
    right: 0;
    text-align: right;
}
.order {
    background-image: url(images/close.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-color: white;
}

.line {
    border: 1px solid #cccccc;
}

.order-berry, .order-champagne {
    display: inline-block;
    font-size: 18px;
    font-family: MuseoSansRounded-300-webfont;
    color: #666666;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.item {
    font-size: 18px;
    font-family: MuseoSansRounded-300-webfont;
    display: inline-block;
    padding-top: 18px;
}
.order-amount, .order-sum, .item_close {
    float: right;
    padding-right: 60px;
}
.v_price {
    text-align: center;
    padding: 10px 0;
}
.price {
    text-align: right;
    font-family: MuseoSansRounded-300-webfont;
}
.delivery {
    background-color: #4cccdb;
    padding: 20px 0;
    font-size: 22px;
    font-family: MuseoSansRounded-700-webfont;
    color: white;
    border-radius: 5px;
    border: 1px;
    margin-top: 20px;   
}