html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

@font-face {
    font-family: MuseoSansRounded-300-webfont;
    src: url(fonts/museosansrounded_300/MuseoSansRounded-300-webfont.ttf);
}
@font-face {
    font-family: MuseoSansRounded-100-webfont;
    src: url(fonts/museosansrounded_100/MuseoSansRounded-100-webfont.ttf);
}
@font-face {
    font-family: MuseoSansRounded-700-webfont;
    src: url(fonts/museosansrounded_700/MuseoSansRounded-700-webfont.ttf);
}
@font-face {
    font-family: MuseoSansRounded-500-webfont;
    src: url(fonts/museosansrounded_500/MuseoSansRounded-500-webfont.ttf);
}

body {
    font-family: MuseoSansRounded-300-webfont;
    background-color: #f3f3f3;
}

.header {
    background-color: black;
}

.main {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: inline-block;
}

.balance {
    color: gray;
    font-size: 18px;
    position: absolute;
    border-right: 1px solid gray;
    padding: 12px 40px;
    margin: 20px;
    display: inline-block;
}

.list {
    float: right;
    padding: 15px 0px 15px 15px;
}

ul.hr {
    margin: 0;
    padding: 4px 0px;
}

ul.hr li {
    font-size: 16px;
    color: gray;
    display: inline;
    margin-right: 25px;
    padding: 3px;
}

.log {
    font-size: 16px;
    color: #999999;
    padding: 10px 20px;
    margin-left: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #999999;
    cursor: pointer;
}

.log:hover{
    background-color:#222222;
    border: 1px solid #BBBBBB;
}

.log:active {
    background-color: initial;
    border-color: initial;
}

.info {
    border-bottom: 1px solid #cccccc;
}

.info-centr, .core {
    margin-left: auto;
    margin-right: auto;
}

.info-centr::after {
    content: " ";
    clear: both;
    display: table;
}

.time {
    font-family: MuseoSansRounded-500-webfont;
    margin: 15px 0;
    font-size: 20px;
    color: #828282;
    float: left;
    padding: 10px 35px 10px 30px;
    background: url(images/time.png) no-repeat left center; 
}

.return {
    float: right;
    font-family: MuseoSansRounded-500-webfont;
    margin: 15px 0;
    font-size: 20px;
    color: #999999;
    padding: 10px 0 10px 30px;
    background: url(images/return.png) no-repeat left center;
}

.info-centr, .main, .core {
    width: 1000px;
}

.core, .order {
    content: " ";
    clear: both;
    display: table;
}

.addr, .pay  {
    width: 500px;
    padding: 30px 0 0 0;
    float: left;
}

.input {
    padding: 15px;
    font-size: 20px;
    font-family: MuseoSansRounded-100-webfont;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.pay {
    padding: 30px;
}

.pay-text {
    font-size: 20px;
    font-family: MuseoSansRounded-500-webfont;
    padding: 15px 0;
    color: #828282;
}

.order {
    background-color: white;

}

.line {
    border: 1px solid #cccccc;
}

.order-berry, .order-champagne {
    float: left;
    padding: 25px 100px;
    font-size: 18px;
    font-family: MuseoSansRounded-300-webfont;
    color: #666666;
}

.order-berry {
    background: url(images/icon_berry.jpg) no-repeat left center;
}

.order-champagne {
    background: url(images/icon_champagne.jpg) no-repeat left center;
}